<li>
  <%= link_to interview.participant_name, participant_path(interview.participant_id) %> | <%= interview.scheduled_time.strftime("%m/%d") %> at <%= interview.scheduled_time.strftime("%I:%M %p")  %>
</li>