<li>
  <%= link_to interview.participant_name, participant_path(interview.participant_id) %> | <%= interview.scheduled_time.in_time_zone.strftime("%m/%d at %I:%M %p %Z")  %> | <%= link_to "details", study_interview_path(@study, interview) %>
</li>