<div id="nav-header">
  <div class="content nav-content">
    <h1><%= link_to "UserBase", root_path %></h1>
    <!-- Login / Account Stuff -->
    <div class="account-container">
      <% if user_signed_in? %>
        <a href="#" data-dropdown="#account-dropdown" class = "account-link"><%= current_user.name %> <span>▼</span></a>
     <% else %>
        <%= link_to "Sign In", new_user_session_path %> | <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </div>

  </div>
</div>