<li>
  <p class="study-name"><strong><%= link_to study.name, study_path(study) %></strong></p>
  <p class="study-description"><%= study.description %></p>
  <p><%= link_to "edit", edit_study_path(study.id) %> | 
  <%= link_to "delete", study, method: :delete, data: { confirm: "Delete This Study?" } %> </p>
</li>