<li>
  <div class="study-name"><strong><%= link_to study.name, study_path(study) %></strong></div>
  <div class="study-description"><%= study.description %></div>
  <%= link_to "edit", edit_study_path(study.id) %> | 
  <%= link_to "delete", study, method: :delete, data: { confirm: "Delete This Study?" } %> <br />
</li>