<h1 class = "main-header">Studies</h1>

<% if @studies.any? %>
  <ul>
  <% @study_months.each do |month, studies| %>
    <li> <h3> <%= month.strftime("%B %Y") %></h3>
      <ul>
        <%= render studies %>
      </ul>
    </li>
  <% end %>
  </ul>
<% end %>