<h1 class = "main-header">Studies</h1>

<ul class = "study_months">
  <li><strong><%= link_to "+ create study", new_study_path %></strong></li>
  <% if @studies.any? %>
    <% @study_months.each do |month, studies| %>
      <li> <h3> <%= month.strftime("%B %Y") %></h3>
        <ul>
          <%= render studies %>
        </ul>
      </li>
    <% end %>
  <% end %>
</ul>

