/************* VARIABLES *********/
$link-color: #497BAB;
$visited-link-color: #905990;
$dark: #333;
$white: #fff;

/* LINKS */
a{
  color: $link-color;
  text-decoration: none;
  &:visited{ color: $visited-link-color; }
  &:hover { text-decoration: none;}
}



/*  NAVBAR  */
#nav-header{
  background-color: $dark;
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 1rem;
  z-index: 10;
  color: $white;
  padding: 1rem;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  a{
    color: $white;
    text-decoration: none;
  }
  h1{
    margin: 5px 0 0 0;
    float: left;
  }
  input{
    margin: 0;
    color: black;
  }
  .account-container{
    div{
      float: right;
    }
    .dropdown a{
      color: #000;
    }
    .account-link{
      background: rgba(255, 255, 255, .12);
      padding: 5px 15px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      margin: 10px 0 0 20px;
      &:hover{
        background: rgba(255,255,255, .2)
      }
    }
  }
}


/*  ALERTS  */

p.alert, p.notice{
  margin: 0;
}


/*  ACTION TILES */
.action-tile{
  border: 2px solid black;
  font-size: 2em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  &.big{
    height: 240px;
    line-height: 240px;
  }
  &.small{
    height: 120px;
    line-height: 120px;
  }
}

/* FORMS */
label{
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  &.radio{
    display: inline;
  }
}

select{
  font-size: 1.2em;
}

input{
  margin-bottom: 20px;
}

input[type="text"], textarea, select{
  padding: 5px;
  width: 50%;
}

input[type="radio"]{
  width: 20px;
}

input[type="submit"]{
  background: $dark;
  color: $white;
  border: none;
}


textarea{
  height: 100px;
}

/* NOTES */
.notes{
  border: 1px solid black;
  padding: 5px 20px 20px;
  margin: 20px 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  ul{
    margin-left: 20px;
    list-style: disc;
    li{
      margin: 7px 0; 
        ul{
          list-style: circle;
          li ul{
            list-style: square;
          }
      }
    }
  }
}


/* TAGS */
a.tag{
  text-decoration: none;
  padding: 3px 8px;
  margin-right: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius:    10px;
  border-radius:         10px;
  background-color: $white;
  color: $link-color;
  border: solid 2px $link-color;
  font-size: .8em;
  font-weight: bold;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -ms-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  &:hover{
    background-color: $link-color;
    color: $white;
  }
}

/* INTERVIEWS */
.interview-dates{
  ul{
    list-decoration: none;
    li{
      margin: 0;
      padding: 10px 0;
      border-top: 1px solid black;
    }
  }
  strong{
    font-size: 1.2em;
  }
}

/* STUDIES */

.study_months{
    list-decoration: none;
    &>li{
      margin: 0;
      padding: 10px 0;
      border-top: 1px solid black;
      &:first-child{
        border-top: none;
      }
    }
  }

  /* BUTTON */
