/*  NAVBAR  */
#nav-header{
  background-color: #262626;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  color: #fff;
  a{
    color: #fff;
    text-decoration: none;
  }
  h1{
    margin: 0;
    text-align: center;
  }
  .account-container{
    position: absolute;
    top: 24px;
    right: 20px;
    a:hover{
      text-decoration: underline;
    }
    .dropdown a{
      color: #000;
    }
  }
}


/*  ALERTS  */

p.alert, p.notice{
  margin: 0;
}


/*  ACTION TILES */
.action-tile{
  border: 2px solid black;
  font-size: 2em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  &.big{
    height: 240px;
    line-height: 240px;
  }
  &.small{
    height: 120px;
    line-height: 120px;
  }
}

/* FORMS */
label{
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  &.radio{
    display: inline;
  }
}

select{
  font-size: 1.2em;
}

input, textarea, select{
  margin-bottom: 20px;
  padding: 5px;
  width: 50%;
}

input[type="radio"]{
  width: 20px;
}

textarea{
  height: 100px;
}