/*    TYPOGRAPHY STYLE    */

@import url(http://fonts.googleapis.com/css?family=PT+Sans:700|Open+Sans:400italic,400,700);

h1,h2,h3,h4,h5,h6{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  margin: 1em 0;
}

body{
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-size: 2em;
  line-height: 0.75em;
  &.main-title{
    font-size: 4em;
    text-align: center;
    margin: .25em 0;
  }
}

h2{
  font-size: 1.5em;
  line-height: .68em;
  margin: 1.2em 0;
}

p {
  line-height: 1.48em;
}